<!-- BOARDS -->
<div id="boards" class="fuse-navy" fxLayout="column" fxLayoutAlign="start center" fxFlex fusePerfectScrollbar>
<!-- 
    <div class="header pt-44 pt-md-88" fxLayout="row" fxLayoutAlign="center center" fxFlex="0 0 auto"
         [@animate]="{value:'*',params:{delay:'100ms'}}">
        <h1>Home-Care Portal Dashboard</h1>
    </div> -->

    <!-- BOARD LIST -->
    <div class="board-list" fxFlex="0 0 auto" fxLayout="row wrap" fxLayoutAlign="center center"
         [@animateStagger]="{value:'50'}">

        <!-- BOARD -->
        <div fxLayout="row" fxLayoutAlign="center center" fxFlex="1 1 auto" style="width:100%" class="h1 mb-12">Health Providers Details</div>


        <!-- <div  fxLayoutAlign="center center" fxFlex="1 0 auto"> -->
        <div class="board-list-item" *ngFor="let board of userBoards"
        [routerLink]="board.children[1].url"
        fxLayout="column" fxLayoutAlign="center center"
        [@animate]="{value:'*',params:{y:'100%'}}">
       <!-- <mat-icon class="s-56">assessment</mat-icon> -->
       <mat-label style="font-size: 3.5em">{{+board.badge.count}}</mat-label>
       <div class="board-name">{{board.title}}</div>
        </div>
        <!-- </div> -->


        <div fxLayout="row" fxLayoutAlign="center center" fxFlex="1 1 auto" style="width:100%" class="h1 mb-12">Project Details</div>

        <!-- <div fxLayout="row" fxLayoutAlign="center center" fxFlex="1 0 auto"> -->
        <div class="board-list-item" *ngFor="let board of projectBoards"
             [routerLink]="board.url"
             fxLayout="column" fxLayoutAlign="center center"
             [@animate]="{value:'*',params:{y:'100%'}}">
            <mat-icon class="s-56">{{board.icon}}</mat-icon>
            <div class="board-name">{{board.title}}</div>
        </div>
        <!-- </div> -->
        
        <div fxLayout="row" fxLayoutAlign="center center" fxFlex="1 1 auto" style='width: 100%;' class="h1 mb-12">Alerts</div>

        <!-- <div  fxLayoutAlign="center center" fxFlex="1 0 auto"> -->
        <div class="board-list-item" *ngFor="let board of alertBoards"
        [routerLink]="board.url"
        fxLayout="column" fxLayoutAlign="center center"
        [@animate]="{value:'*',params:{y:'100%'}}">
       <mat-icon class="s-56">{{board.icon}}</mat-icon>
       <div class="board-name">{{board.title}}</div>
   </div>
   <!-- </div> -->
        <!-- / BOARD -->

        <!-- NEW BOARD BUTTON -->
        <!-- <div class="board-list-item add-new-board" fxLayout="column" fxLayoutAlign="center center"
             (click)="newBoard()"
             [@animate]="{value:'*',params:{y:'100%'}}">
            <mat-icon class="s-56">add_circle</mat-icon>
            <div class="board-name">Add new board</div>
        </div> -->
        <!-- / NEW BOARD BUTTON -->

    </div>
    <!-- / BOARD LIST -->
</div>
<!-- / BOARDS -->
