<div class="page-layout blank" fusePerfectScrollbar>
    <div class="mb-24" fxLayout="column" fxLayoutAlign="start center" fxLayout.gt-md="row">
    <form class="mat-card mat-elevation-z4 p-24" fxLayout="column" fxLayoutAlign="start"  fxFlex="100" 
    fxFlex="1 0 auto" name="form" #addForm='ngForm' (ngSubmit)='submit(addForm)'>
        <div class="h2 mb-24" style="text-align: center">Add New {{title}}</div>
  
        <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">
            <mat-form-field appearance="outline" fxFlex="100" class="pr-12" style="width:33%">
                    <mat-label>Name</mat-label>     
                    <input matInput placeholder="Name" name="name" [(ngModel)]='addActor.name' required>
                    <mat-error>Name is Required!</mat-error>
            </mat-form-field>

            <mat-form-field appearance="outline" fxFlex="100" class="pr-12" style="width:33%">
                    <mat-label>Qualification</mat-label>     
                    <input matInput placeholder="Qualification" name="qualification" [(ngModel)]='addActor.qualification' required>
                    <mat-error>Qualification is Required!</mat-error>
            </mat-form-field>
            <mat-form-field appearance="outline" fxFlex="100" class="pr-12" style="width:33%" *ngIf='loadedActor=="doctor"'>
                    <mat-label>Speciality</mat-label>     
                    <mat-select placeholder='Speciality' name="speciality" [(ngModel)]='addActor.speciality' required>
                        <mat-option value="ALLERGY & IMMUNOLOGY">ALLERGY & IMMUNOLOGY</mat-option>
                        <mat-option value="ANESTHESIOLOGY">ANESTHESIOLOGY</mat-option>
                        <mat-option value="DERMATOLOGY">DERMATOLOGY</mat-option>
                        <mat-option value="DIAGNOSTIC RADIOLOGY">DIAGNOSTIC RADIOLOGY</mat-option>
                        <mat-option value="EMERGENCY MEDICINE">EMERGENCY MEDICINE</mat-option>
                        <mat-option value="FAMILY MEDICINE">FAMILY MEDICINE</mat-option>
                        <mat-option value="INTERNAL MEDICINE">INTERNAL MEDICINE</mat-option>
                        <mat-option value="MEDICAL GENETICS">MEDICAL GENETICS</mat-option>
                        <mat-option value="NEUROLOGY">NEUROLOGY</mat-option>
                        <mat-option value="NUCLEAR MEDICINE">NUCLEAR MEDICINE</mat-option>
                        <mat-option value="OBSTETRICS AND GYNECOLOGY">OBSTETRICS AND GYNECOLOGY</mat-option>
                        <mat-option value="OPHTHALMOLOGY">OPHTHALMOLOGY</mat-option>
                        <mat-option value="PATHOLOGY">PATHOLOGY</mat-option>
                        <mat-option value="PEDIATRICS">PEDIATRICS</mat-option>
                        <mat-option value="PHYSICAL MEDICINE & REHABILITATION">PHYSICAL MEDICINE & REHABILITATION</mat-option>
                        <mat-option value="PREVENTIVE MEDICINE">PREVENTIVE MEDICINE</mat-option>
                        <mat-option value="PSYCHIATRY">PSYCHIATRY</mat-option>
                        <mat-option value="RADIATION ONCOLOGY">RADIATION ONCOLOGY</mat-option>
                        <mat-option value="SURGERY">SURGERY</mat-option>
                        <mat-option value="UROLOGY">UROLOGY</mat-option>
                    </mat-select>
                    <mat-error>Speciality is Required!</mat-error>
            </mat-form-field>
            
        </div>
        <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">
                 <mat-form-field appearance="outline" fxFlex="100" class="pr-12" style="width:33%"
                 *ngIf='loadedActor=="doctor" || loadedActor=="nurse"' >
                        <mat-label>Gender</mat-label>     
                        <mat-select placeholder='Gender' name="gender" [(ngModel)]='addActor.gender' required>
                                <mat-option value='Male'>Male</mat-option>
                                <mat-option value='Female'>Female</mat-option>
                                <mat-option value='Other'>Other</mat-option>
                        </mat-select>
                    <mat-error>Gender is Required!</mat-error>
                </mat-form-field>
                <mat-form-field appearance="outline" fxFlex="100" class="pr-12" style="width:33%">
                        <mat-label>Experience(in years)</mat-label>     
                        <input matInput type="number" min="0" placeholder="Experience" name="Experience" [(ngModel)]='addActor.experience' required>
                    <mat-error>Experience is Required!</mat-error>                        
                </mat-form-field>
                <mat-form-field appearance="outline" fxFlex="100" class="pr-12" style="width:33%"
                *ngIf='loadedActor=="doctor" || loadedActor=="nurse"'>
                        <mat-label>Language</mat-label>     
                        <mat-select placeholder='Language' name="language" [(ngModel)]='addActor.language' required>
                                <mat-option value='Telugu'>Telugu</mat-option>
                                <mat-option value='English'>English</mat-option>
                                <mat-option value='Hindi'>Hindi</mat-option>
                                <mat-option value='Other'>Other</mat-option>
                            </mat-select>
                         <mat-error>Language is Required!</mat-error>
                </mat-form-field>
        </div>
        <div fxLayout="row" class="mb-12" fxLayoutAlign="start center" fxFlex="1 0 auto">
        <div fxLayout='column' fxFlex="100" class="pr-12" >
                <mat-label>Upload Photo</mat-label>
                <input  type="file" fxFlex="100" accept="image/jpeg, image/png" (change)='imagePicked($event)' 
               #myFilePicker/>
                <!-- <div *ngIf='fileUpload.errors?.required'>Please Upload Image</div> -->
            </div>
        </div>
        <div fxLayout='column' fxFlex="100" class="pr-12 image-preview" *ngIf='imagePreview!=="" && imagePreview'>
        <img [src]='imagePreview'>
        </div>
        <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">
                        <mat-form-field appearance="outline" fxFlex="100" class="pr-12" style="width:33%">
                                <mat-label>Phone</mat-label>
                                <input matInput type="number"  placeholder="Phone" name="phone" #phone='ngModel'
                                pattern="[0-9]{10}" [(ngModel)]='addActor.phone' required/>
                                <mat-error *ngIf="phone.errors?.required">Phone Number is Required!</mat-error>
                                <mat-error *ngIf="phone.errors?.pattern">Please Enter a Valid Phone Number!</mat-error>
                        </mat-form-field>  
                        <mat-form-field appearance="outline" fxFlex="100" class="pr-12" style="width:33%">
                                        <mat-label>Email</mat-label>
                                <input matInput type="email"  placeholder="Email" name="email" 
                                pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$" #email='ngModel' [(ngModel)]='addActor.email' required/>
                                <mat-error *ngIf="email.errors?.required">Email is Required!</mat-error>
                                <mat-error *ngIf="email.errors?.pattern">Please Enter a Valid Email Id!</mat-error>
                        </mat-form-field>   
                </div>
        <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">
            <div class="h2 pr-12 mb-12" fxFlex="100" style="width: 33%">Availabilty</div>
            <mat-form-field appearance="outline" fxFlex="100" class="pr-12" style="width:33%">
                    <mat-label>Availabile Days</mat-label>     
                    <mat-select placeholder='Availabile Days' name='days' [(ngModel)]='availableDays' >
                            <mat-option value='Sunday'>Sunday</mat-option>
                            <mat-option value='Monday'>Monday</mat-option>
                            <mat-option value='Tuesday'>Tuesday</mat-option>
                            <mat-option value='Wednesday'>Wednesday</mat-option>
                            <mat-option value='Thursday'>Thursday</mat-option>
                            <mat-option value='Friday'>Friday</mat-option>
                            <mat-option value='Saturday'>Saturday</mat-option>  
                            <mat-option value='Monday to Saturday'>Monday to Saturday</mat-option>  
                            <mat-option value='Everyday'>Everyday</mat-option>  
                        </mat-select>
                        <!-- <mat-error>Days of Availbility is Required!</mat-error> -->
            </mat-form-field> 
            <mat-form-field appearance="outline" fxFlex="100" class="pr-12" style="width:33%">
                    <mat-label>Availabile Slots</mat-label>     
                    <mat-select placeholder='Availabile Days' name='slots' [(ngModel)]='availableSlots' multiple=true >
                            <mat-option value='Slot-1'>Slot-1</mat-option>  
                            <mat-option value='Slot-2'>Slot-2</mat-option>  
                            <mat-option value='Slot-3'>Slot-3</mat-option>  
                            <mat-option value='Slot-4'>Slot-4</mat-option>  
                            <mat-option value='Slot-5'>Slot-5</mat-option>  
                            <mat-option value='Slot-6'>Slot-6</mat-option>  
                            <mat-option value='Slot-7'>Slot-7</mat-option>  
                            <mat-option value='Slot-8'>Slot-8</mat-option>  
                            <mat-option value='Slot-9'>Slot-9</mat-option>  
                            <mat-option value='Slot-10'>Slot-10</mat-option>  
                            <mat-option value='Slot-11'>Slot-11</mat-option>  
                            <mat-option value='Slot-12'>Slot-12</mat-option>  
                            <mat-option value='Slot-13'>Slot-13</mat-option>  
                            <mat-option value='Slot-14'>Slot-14</mat-option>  
                            <mat-option value='Slot-15'>Slot-15</mat-option>  
                            <mat-option value='Slot-16'>Slot-16</mat-option>  
                        </mat-select>
                        <!-- <mat-error>Available slots is Required!</mat-error> -->
            </mat-form-field> 
            
            <button mat-raised-button color="primary" type="button" (click)='availability($event)'>Add</button>

        </div>
        <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto" class="mb-12"
        *ngIf="!addActor.slots.length==0">
                <table fxFlex="100" class="pr-12" style="width: 66%;text-align: center">
                        <thead>
                                <th>Days</th>
                                <th>Slots</th>
                        </thead>
                        <tbody *ngFor='let dates of addActor.slots' text-center>
                                <td style="width:50%;">{{dates.availableDays}}</td>
                                <td style="width:50%;">
                                        <ul>
                                                <li *ngFor='let slot of dates.availableTimes'>{{slot}}</li>
                                        </ul>
                                </td>
                        </tbody>
                </table>
        </div>

        <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">
                <div class="h2 pr-30 mb-12" style="width:33%">Location</div>     

                <mat-form-field appearance="outline" fxFlex="100" class="pr-12" style="width:33%">
                        <input matInput type="number"  placeholder="Latitude"  name="latitude" [(ngModel)]='addActor.latitude' required/>
                        <mat-error>Latitude is Required!</mat-error>
                </mat-form-field>  
                <mat-form-field appearance="outline" fxFlex="100" class="pr-12" style="width:33%">
                        <input matInput type="number"  placeholder="Longitude" name="longitude" [(ngModel)]='addActor.longitude' required/>
                        <mat-error>Longitude is Required!</mat-error>                        
                </mat-form-field>
        </div>
        <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">
                <mat-form-field appearance="outline" fxFlex="100" class="pr-12" style="width:33%">
                        <mat-label *ngIf='loadedActor=="doctor" || loadedActor=="nurse"'>Hospital/Clinic Address</mat-label> 
                        <mat-label *ngIf='loadedActor!=="doctor" && loadedActor!=="nurse"'>Address</mat-label> 
                        <textarea matInput placeholder="Address" name="address" [(ngModel)]='addActor.address' required></textarea> 
                        <mat-error>Address is Required!</mat-error>                        
                </mat-form-field>
        </div>
        <div class='px-24' fxLayoutAlign="center center" style="margin:auto;text-align: center;" *ngIf='!role || role==""'>
                <button mat-raised-button color="accent" style="width:200px;margin:auto;" 
                [disabled]="!(addForm.valid) && (addActor.slots!==[])">Submit</button>
        </div>
    </form>
    </div>
</div>