<div mat-dialog-content class='h2'  >
        <!-- style='text-align:center' -->
  <!-- This is the View Dialog Component...! -->
  <div fxLayout='row' fxFlex="1 0 auto" class="pr-12 mb-24"  >

        <div fxLayout='column' fxFlex="100" style="width: 50%;float: left;margin-top: 2rem;">
                <mat-label class="h1" style="display:block;">Name: {{data.data.name}}</mat-label>
                <mat-label class="h1" style="display:block;">Qualification: {{data.data.qualification}}</mat-label>
                <mat-label class="h1" style="display:block;">experience: {{data.data.experience}}</mat-label>
                <mat-label class="h1" style="display:block;">Speciality: {{data.data.speciality}}</mat-label>
                <mat-label class="h1" style="display:block;">Gender: {{data.data.gender}}</mat-label>
                <mat-label class="h1" style="display:block;">Phone: {{data.data.phone}}</mat-label>
                <mat-label class="h1" style="display:block;">Email-Id: {{data.data.email}}</mat-label>


        </div>
        <div fxLayout='column' fxFlex="100" fxLayoutAlign="center center" class="image-preview"  
        style="width:30%;height:23rem;margin:2rem 3rem;box-sizing: border-box; float: left;" >
                 <img [src]='imagePreview' alt='No Image Available' style="width: 100%;">
        </div>
  </div>
 <div fxLayout="column" fxLayoutAlign="start center" fxFlex="1 0 auto" class="my-12" style="width:100%;float: none">
         <!-- <div fxLayout="row"> <mat-label class="mat-label pr-12">Phone: {{data.data.phone}}</mat-label> <mat-label class="mat-label">Email-Id: {{data.data.email}}</mat-label></div> -->
                <!-- <mat-label class="h1" style="display:block;">Email-Id: {{data.data.email}}</mat-label> -->
                <mat-label class="h1" style="display:block;">Location: {{data.data.latitude}}latitude {{data.data.longitude}}longitude </mat-label>
                <mat-label class="h1" style="display:block;">Address: {{data.data.address}}</mat-label>
 </div>

 <div fxLayout="column" fxLayoutAlign="start center" fxFlex="1 1 auto" class="mb-12"
        *ngIf="!data.data.slots.length==0" style="float: none;display: block">
        <mat-label class="h1" style="display:block;">Availability:</mat-label>
                <table fxFlex="100" class="pr-12" style="width: 100%;text-align: center">
                        <thead><th>Days</th><th>Slots</th></thead>
                        <tbody *ngFor='let dates of data.data.slots' text-center>
                                <td style="width:50%;">{{dates.availableDays}}</td>
                                <td style="width:50%;">
                                        <ul>
                                                <li *ngFor='let slot of dates.availableTimes'>{{slot}}</li>
                                        </ul>
                                </td>
                        </tbody>
                </table>
        </div>
</div>

<div mat-dialog-actions style="margin:auto;float:right">
  <button mat-stroked-button (click)="onNoClick()">Close</button>
  <!-- <button mat-stroked-button color='warn' class='ok' [mat-dialog-close]="true" cdkFocusInitial>Ok</button> -->
</div>
