<div mat-dialog-content class='h2'  >
        <!-- style='text-align:center' -->
  <!-- This is the View Dialog Component...! -->
  <div fxLayout='row' fxFlex="1 1 auto" class="pr-12"  style="box-sizing: border-box;">
        <div fxLayout='column' fxFlex="100" fxLayoutAlign="center center" class="image-preview mr-24"  
        style="width:40%;height:25rem;margin-top:2rem; float: left;" *ngIf='imagePreview!=="" && imagePreview' >
                 <img [src]='imagePreview'  >
        </div>
        <div fxLayout='column' fxFlex="100" style="width: 50%;float: left;">
                <h1>Name: {{data.data.name}}</h1>
                <h1>Qualification: {{data.data.qualification}}</h1>
                <h1>experience: {{data.data.experience}}</h1>
                <h1>Speciality: {{data.data.speciality}}</h1>
                <h1 >Gender: {{data.data.gender}}</h1>
                <h1>Phone: {{data.data.phone}}</h1>
                <!-- <h1>Email-Id: {{data.data.email}}</h1> -->
        </div>
  </div>
 <div fxLayout="column" fxLayoutAlign="start center" fxFlex="1 1 auto" class="mb-12">
         <!-- <div fxLayout="row"> <mat-label class="h1 pr-12">Phone: {{data.data.phone}}</mat-label> <mat-label class="h1">Email-Id: {{data.data.email}}</mat-label></div> -->
                <h1>Email-Id: {{data.data.email}}</h1>
                <h1>Location: {{data.data.latitude}} {{data.data.longitude}} </h1>
                <h1>Address: {{data.data.address}}</h1>
 </div>

 <div fxLayout="column" fxLayoutAlign="start center" fxFlex="1 1 auto" class="mb-12"
        *ngIf="!data.data.slots.length==0" style="float: none;display: block">
        <h1>Availability:</h1>
                <table fxFlex="100" class="pr-12" style="width: 100%;text-align: center">
                        <thead><th>Days</th><th>Slots</th></thead>
                        <tbody *ngFor='let dates of data.data.slots' text-center>
                                <td style="width:50%;">{{dates.availableDays}}</td>
                                <td style="width:50%;">
                                        <ul>
                                                <li *ngFor='let slot of dates.availableTimes'>{{slot}}</li>
                                        </ul>
                                </td>
                        </tbody>
                </table>
        </div>
</div>

<div mat-dialog-actions style="margin:auto;text-align:center">
  <button mat-stroked-button (click)="onNoClick()">Close</button>
  <!-- <button mat-stroked-button color='warn' class='ok' [mat-dialog-close]="true" cdkFocusInitial>Ok</button> -->
</div>
