<div mat-dialog-content >
        <!-- <div  > -->
                <div class="h1 m-24" style="text-align:center">{{data.data.name.toUpperCase()}} DETAILS</div>
                <table class="h3 table" style="width:100% !important; text-align: left">
                        <tr>
                                <th style="width:20%;">Image</th>
                                <th>General Details</th>
                                <th>Availability Details</th>
                                <th>Contact Details</th>
                        </tr>
                        <tr>
                        <td class="image"><img [src]="imagePreview"/></td>
                    <td>
                        <mat-label><b> Qualification: </b>{{data.data.qualification}}</mat-label><br/>
                        <mat-label><b> Experience: </b>{{data.data.experience}}</mat-label><br/>
                        <mat-label><b> Speciality: </b>{{data.data.speciality}}</mat-label><br/>
                        <mat-label><b> Gender: </b>{{data.data.gender}}</mat-label><br/>
                        <mat-label><b> Languages: </b><br/>
                        <mat-label *ngFor='let speak of data.data.language '>{{speak}}<br/></mat-label>
                        </mat-label>
                    </td>

                     <td>
                        <mat-label *ngFor='let date of data.data.slots'>
                                <mat-label><b>{{date.availableDays}}</b></mat-label><br/>
                                <mat-label *ngFor='let time of date.availableTimes'>{{time}}<br/></mat-label>
                        </mat-label>
                    </td>

                     <td>
                        <mat-label><b>Phone: </b> {{data.data.phone}}</mat-label><br/>
                        <mat-label><b>Email: </b>{{data.data.email}}</mat-label><br/>
                        <mat-label><b>Location: </b></mat-label><br/>
                        <mat-label>{{data.data.latitude}} latitude</mat-label><br/>
                        <mat-label> {{data.data.longitude}} longitude</mat-label><br/>
                        <mat-label><b>Address: </b> </mat-label><br/>
                        <mat-label>{{data.data.address}}</mat-label>
                    </td>
               
                <!-- <div class="h2 m-24" style="text-align:center">Availability Details:</div>
                <tr *ngFor='let date of data.data.slots'>
                        <th class="th">{{date.availableDays}}</th>
                        <td class="td" *ngFor='let time of date.availableTimes'>{{time}} </td> 
                </tr>

                <div class="h2 m-24" style="text-align:center">Contact Details:</div>
                <tr><th class="th">Phone:</th><td class="td">{{data.data.phone}} </td> </tr>
                <tr><th class="th">Email:</th><td class="td">{{data.data.email}} </td> </tr>
                <tr><th class="th">Location:</th><td class="td">{{data.data.latitude}} {{data.data.longitude}} </td> </tr>
                <tr><th class="th">Address:</th><td class="td">{{data.data.address}} </td> </tr> -->
               
                               
        </tr>
                    
                </table>
        <!-- </div> -->
</div>

<div mat-dialog-actions style="margin:auto;text-align: center;float: right">
  <button mat-stroked-button (click)="onNoClick()">Close</button>
  <!-- <button mat-stroked-button color='warn' class='ok' [mat-dialog-close]="true" cdkFocusInitial>Ok</button> -->
</div>
