<div class="page-layout blank" fusePerfectScrollbar>
    <div class="mb-24" fxLayout="column" fxLayoutAlign="start center" fxLayout.gt-md="row">
        <form class="mat-card mat-elevation-z4 p-24" fxLayout="column" fxLayoutAlign="start"  fxFlex="100" 
            fxFlex="1 0 auto" name="form" #searchForm='ngForm' (ngSubmit)='sendSearchData(searchForm)'>
            <div class="h2 mb-24" style="text-align: center">Search {{title}}</div>
      
            <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">
                    <mat-form-field appearance="outline" fxFlex="100" class="pr-12" style="width:33%">
                            <mat-label>Name</mat-label>     
                            <input matInput placeholder="Name" name="name" [(ngModel)]='search.name'
                            [matAutocomplete]="name" />
                            <mat-autocomplete #name="matAutocomplete">
                                <mat-option *ngFor="let option of filteredOptions | async" [value]="option.name">
                                  {{option.name}}
                                </mat-option>
                        </mat-autocomplete>
                    </mat-form-field>


                    <mat-form-field appearance="outline" fxFlex="100" class="pr-12" style="width:33%">
                        <mat-label>Phone</mat-label>
                        <input matInput type="tel"  placeholder="Phone" name="phone" [(ngModel)]='search.phone' #phone='ngModel'
                        pattern="[0-9]{10}"  [matAutocomplete]="phone" />
                        <mat-autocomplete #phone="matAutocomplete">
                            <mat-option *ngFor="let option of filteredOptions | async" [value]="option.phone">
                              {{option.phone}}
                            </mat-option>
                    </mat-autocomplete>
                        <!-- #phone='ngModel' -->
                        <!-- <mat-error *ngIf="phone.errors?.required">Phone Number is Required!</mat-error>
                        <mat-error *ngIf="phone.errors?.pattern">Please Enter a Valid Phone Number!</mat-error> -->
                </mat-form-field>  
                <mat-form-field appearance="outline" fxFlex="100" class="pr-12" style="width:33%">
                                <mat-label>Email</mat-label>
                        <input matInput type="email"  placeholder="Email" name="email" [(ngModel)]='search.email'
                        [matAutocomplete]="email" />
                        <mat-autocomplete #email="matAutocomplete">
                            <mat-option *ngFor="let option of filteredOptions | async" [value]="option.email">
                              {{option.email}}
                            </mat-option>
                    </mat-autocomplete>
                        <!-- pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$"  /> -->
                        <!-- #email='ngModel' -->
                        <!-- <mat-error *ngIf="email.errors?.required">Email is Required!</mat-error>
                        <mat-error *ngIf="email.errors?.pattern">Please Enter a Valid Email Id!</mat-error> -->
                </mat-form-field>   


                    <!-- <mat-form-field appearance="outline" fxFlex="100" class="pr-12" style="width:33%">
                            <mat-label>Speciality</mat-label>     
                            <mat-select placeholder='Speciality'>
                                <mat-option>1</mat-option>
                                <mat-option>1</mat-option>
                                <mat-option>1</mat-option>
                                <mat-option>1</mat-option>
                            </mat-select>
                    </mat-form-field>

                    <mat-form-field appearance="outline" fxFlex="100" class="pr-12" style="width:33%">
                            <mat-label>Gender</mat-label>     
                            <mat-select placeholder='Gender'>
                                    <mat-option value='Male'>Male</mat-option>
                                    <mat-option value='Female'>Female</mat-option>
                                    <mat-option value='Other'>Other</mat-option>
                            </mat-select>
                    </mat-form-field> -->
            </div>
            <!-- <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">
                    <div class="h2 pr-12 mb-12" fxFlex="100" style="width: 33%">Availabilty</div>
                    <mat-form-field appearance="outline" fxFlex="100" class="pr-12" style="width:33%">
                            <mat-label>Availabile Days</mat-label>     
                            <mat-select placeholder='Availabile Days' name='days' [(ngModel)]='availableDays'>
                                    <mat-option value='Sunday'>Sunday</mat-option>
                                    <mat-option value='Monday'>Monday</mat-option>
                                    <mat-option value='Tuesday'>Tuesday</mat-option>
                                    <mat-option value='Wednesday'>Wednesday</mat-option>
                                    <mat-option value='Thursday'>Thursday</mat-option>
                                    <mat-option value='Friday'>Friday</mat-option>
                                    <mat-option value='Saturday'>Saturday</mat-option>  
                                    <mat-option value='Monday to Saturday'>Monday to Saturday</mat-option>  
                                    <mat-option value='Everyday'>Everyday</mat-option>  
                                </mat-select>
                    </mat-form-field> 
                    <mat-form-field appearance="outline" fxFlex="100" class="pr-12" style="width:33%">
                            <mat-label>Availabile Slots</mat-label>     
                            <mat-select placeholder='Availabile Days' name='slots' [(ngModel)]='availableSlots' multiple=true>
                                    <mat-option value='Slot-1'>Slot-1</mat-option>  
                                    <mat-option value='Slot-2'>Slot-2</mat-option>  
                                    <mat-option value='Slot-3'>Slot-3</mat-option>  
                                    <mat-option value='Slot-4'>Slot-4</mat-option>  
                                    <mat-option value='Slot-5'>Slot-5</mat-option>  
                                    <mat-option value='Slot-6'>Slot-6</mat-option>  
                                    <mat-option value='Slot-7'>Slot-7</mat-option>  
                                    <mat-option value='Slot-8'>Slot-8</mat-option>  
                                    <mat-option value='Slot-9'>Slot-9</mat-option>  
                                    <mat-option value='Slot-10'>Slot-10</mat-option>  
                                    <mat-option value='Slot-11'>Slot-11</mat-option>  
                                    <mat-option value='Slot-12'>Slot-12</mat-option>  
                                    <mat-option value='Slot-13'>Slot-13</mat-option>  
                                    <mat-option value='Slot-14'>Slot-14</mat-option>  
                                    <mat-option value='Slot-15'>Slot-15</mat-option>  
                                    <mat-option value='Slot-16'>Slot-16</mat-option>  
                                </mat-select>
                    </mat-form-field> 
                    
            </div> -->
            <div class='px-24' fxLayoutAlign="center center" style="margin:auto;text-align: center  ">
                    <button mat-raised-button color="primary"  style="width:200px;margin:auto;">Search</button>
            </div>
        </form>
    </div>
    <div class="mat-card form-errors-model p-24 mat-elevation-z4" style="margin-top:10px;">
            <div class="h2 mb-24">List of {{title}}s Available</div>
            <!-- <pre> -->
                <div class="mat-elevation-z8" *ngIf='!isLoading'>
                        <table mat-table [dataSource]="dataSource" class="mat-elevation-z8" style="width: 100%"
                       >

                                <!-- Position Column -->
                                <ng-container matColumnDef="position">
                                  <th mat-header-cell *matHeaderCellDef> No. </th>
                                  <td mat-cell *matCellDef="let element; let i=index" > {{i+1}} </td>
                                </ng-container>
                              
                                <!-- Name Column -->
                                <ng-container matColumnDef="name" style="text-align: center;">
                                  <th mat-header-cell *matHeaderCellDef style="width: 25%;"> Name </th>
                                  <td mat-cell *matCellDef="let element"> {{element.name}} </td>
                                </ng-container>
                              
                                <!-- Available Time Column -->
                                <ng-container matColumnDef="email">
                                  <th mat-header-cell *matHeaderCellDef>Email</th>
                                  <td mat-cell *matCellDef="let element"> {{element.email}} </td>
                                </ng-container>

                                 <!-- Available Days Column -->
                                 <ng-container matColumnDef="phone">
                                        <th mat-header-cell *matHeaderCellDef>Phone</th>
                                        <td mat-cell *matCellDef="let element"> {{element.phone}} </td>
                                      </ng-container>
                              
                                <!-- Symbol Column -->
                                <ng-container matColumnDef="status">
                                  <th mat-header-cell *matHeaderCellDef>Status</th>
                                  <td mat-cell *matCellDef="let element"> 
                                          <button mat-raised-button (click)='changeStatus(element)'
                                           [ngStyle]='{"background-color": element.status==="active" ? "green" : "gray",
                                                        "color": "white"}'>
                                                        {{element.status}} 
                                          </button>
                                 </td>
                                </ng-container>


                                <!-- Actions -->

                                <ng-container matColumnDef="view" >
                                        <th mat-header-cell *matHeaderCellDef style="width: 5%;"></th>
                                        <td mat-cell *matCellDef="let element" >
                                        <button mat-icon-button color="primary" (click)="view(element)" style="display:inline">
                                        <mat-icon aria-label="View" class='green-900-fg'>remove_red_eye</mat-icon>
                                        </button>
                                       
                                        </td>
                                    </ng-container>

                                <ng-container matColumnDef="edit" >
                                        <th mat-header-cell *matHeaderCellDef style="width: 5%;"></th>
                                        <td mat-cell *matCellDef="let element" >
                                        <button mat-icon-button (click)="edit(element)" style="display:inline">
                                            <mat-icon aria-label="Edit" class='blue-900-fg'>edit</mat-icon>
                                        </button>
                                       
                                        </td>
                                    </ng-container>

                                    <!-- <ng-container matColumnDef="delete" >
                                            <th mat-header-cell *matHeaderCellDef style="width: 5%;"></th>
                                            <td mat-cell *matCellDef="let element" >
                                            <button mat-icon-button color="warn" (click)="delete(element)" style="display:inline">
                                                <mat-icon aria-label="Delete">delete</mat-icon>
                                            </button>
                                           
                                            </td>
                                        </ng-container> -->
                              
                                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                              </table>
                              <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>        
                </div>
                <div class='px-24' fxLayoutAlign="center center"  *ngIf='isLoading' style="margin:auto;text-align: center;" >
                        <mat-spinner  class="p-24" style="margin: auto;" value=100 diameter=50></mat-spinner>
        
                        <!--  -->
                </div>
            <!-- </pre> -->
    </div>
                    
</div>
