<div mat-dialog-content>
  <app-add-actor [role]='data.role' [editData]='data.data' (filePicker)='onFilePicked($event)'></app-add-actor>
</div>


<div mat-dialog-actions style="margin: auto;" class="p-24">
  <button mat-stroked-button (click)="onNoClick()" style="width: 20%;">No Thanks</button>
  <span fxFlex='1 1 auto' style="width: 60%;" ></span>
  <button mat-raised-button color='accent' class='ok' [mat-dialog-close]="data" style="width: 20%;float: right;" 
  cdkFocusInitial>Update</button>
</div>
